<%# 
  Propiedades esperadas:
  - isRegister: boolean (true para registro, false para login)
  - title: string (Ej: "¡Registrate!")
  - action: string (URL del form, ej: "/auth/login")
  - btnText: string (Texto del botón)
  - navMessage: string (Texto previo al link)
  - navLinkText: string (Texto del link)
  - navUrl: string (URL del link)
%>

<div class="o-auth-card">
    <h1 class="a-auth-title"><%= locals.title %></h1>

    <form action="<%= locals.action %>" method="POST" class="m-auth-form">
        
        <% if (locals.isRegister) { %>
            <%- include('../atoms/log-reg/log-reg-input.ejs', { 
                type: 'text', 
                name: 'name', 
                placeholder: 'Tu nombre completo',
                autocomplete: 'name'
            }) %>
        <% } %>

        <%- include('../atoms/log-reg/log-reg-input.ejs', { 
            type: 'email', 
            name: 'email', 
            placeholder: 'Tu email',
            autocomplete: 'email'
        }) %>

        <%- include('../atoms/log-reg/log-reg-input.ejs', { 
            type: 'password', 
            name: 'password', 
            placeholder: locals.isRegister ? 'Tu nueva contraseña' : 'Tu contraseña',
            autocomplete: locals.isRegister ? 'new-password' : 'current-password'
        }) %>

        <% if (locals.isRegister) { %>
            <%- include('../atoms/log-reg/log-reg-input.ejs', { 
                type: 'password', 
                name: 'confirm_password', 
                placeholder: 'Repite tu contraseña',
                autocomplete: 'new-password'
            }) %>
        <% } %>

        <%- include('../atoms/log-reg/log-reg-button.ejs', { 
            buttonText: locals.btnText 
        }) %>
        
    </form>
<br>
    <%- include('../atoms/log-reg/log-reg-link.ejs', { 
        message: locals.navMessage, 
        linkText: locals.navLinkText, 
        url: locals.navUrl 
    }) %>
</div>