<article class="cart-item">
    <div class="cart-item-image">
        <img src="<%= item.src || item.image %>" alt="<%= item.title %>">
    </div>
    <div class="cart-item-info">
        <h3 class="item-title"><%= item.title %></h3>
        <p class="item-quantity">Cantidad: <%= item.quantity %></p>
    </div>
    <div class="cart-item-price-wrapper">
        <span class="item-price">$<%= item.price * item.quantity %></span>
    </div>
    <button class="cart-item-remove" aria-label="Eliminar producto" title="Eliminar">&times;</button>
</article>
